* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 700px;
  text-transform: uppercase;
}

header {
  height: 800px;
  background: #f07057;
}
.main-nav,
main, footer, .sign-up-discount {
  position: relative; 
}
.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
main {
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: 80px;
  padding: 30px;
  

}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
}



.promo{
    max-height: 100%;
    margin: 0;
}


nav{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    font-weight: bold;
}

.navbar{
    padding: 20px;
}
.list, .dropbtn, .dropbtn2{
    margin: 10px
}

.navbar a, a{
    text-decoration: none;
    color: black;    
}

.dropbtn, .dropbtn2 {
    border: none;
    cursor: pointer;
}

.dropbtn a:hover{color: red;}

.dropdown, .dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2{
    position: absolute;
    margin-left: 100px;
}

.dropdown-content a, .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.brands a{height: 60px;
    width: 120px;
    }


.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display:flex;
}

footer{
    background-color: white;
    border-top: solid black 3px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
}

.footernav{
    display: flex;
    justify-content: space-around
}

.footernav > ul{list-style: none;}

.brand{display: flex;
    justify-content: center;
    align-items: center;
    align-content: cener;
    padding: 15px;
    margin: 10px
}

.brandimg img{
    width: 632px;
box-shadow:  0 2px 2px rgba(0,0,0,.4)
}

.itemcontainer{
    display: flex;

}

.img-link img { width: 318px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    margin: 10px;
}


.sign-up-discount{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: white;
    align-content: center;
    align-items: center;
}

.email{
    width: 400px;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    height: 38px;
}

email-thing{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button{height: 40px;
margin: 10px;
background-color: whitesmoke;
color: black;
font-weight: bold;
border-radius: 4px;
}

