* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: whitesmoke;
    text-transform: uppercase;
}

header {
  height: 800px;
  background: #f07057;
}
.main-nav,
main, footer {
  position: relative; 
}
.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -50px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
main {
  flex-direction: column;
  margin-top: px;
  background-color: whitesmoke;

}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
}



.promo{
    max-height: 100%;
    margin: 0;
}


nav{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    font-weight: bold;
}

.navbar{
    padding: 20px;
}
.list, .dropbtn, .dropbtn2{
    margin: 10px
}

.navbar a, a{
    text-decoration: none;
    color: black;    
}

.dropbtn, .dropbtn2 {
    border: none;
    cursor: pointer;
}

.dropbtn a:hover{color: red;}

.dropdown, .dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2{
    position: absolute;
    margin-left: 100px;
}

.dropdown-content a, .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.brands a{height: 60px;
    width: 120px;
    }


.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display:flex;
}

main{margin-top: 80px;}

footer{
    background-color: white;
    border-top: solid black 3px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
}

.footernav{
    display: flex;
    justify-content: space-around
}

.footernav > ul{list-style: none;}

.productimg{box-shadow: 0 2px 3px rgba(0,0,0,.4);
margin-right: 50px;}

.product-page{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.designer-list{
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.designer-list > ol{
    font-weight: bold;
    font-size: 25px;
    display: flex;
}

.five{margin: 25px;}

.alphabet > li{margin: 15px;
font-size: 17px;}

.alphabet{list-style: none;
padding: 5px;}

h2, p{
    text-transform: uppercase;
}

.addCart{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}

.title{
    border-bottom: 1px solid black;
    margin: 20px;
    background-color: whitesmoke;
}

#adidas{text-transform: lowercase;}

.privacy-policy > li{
    
}

.privacy-policy > li > p{
margin: 0px;
padding: 10px;
    
}

.privacy-policy{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 50px;
    margin-top: -50px;
    
}

.itemdes{width: 300px;}

.blkmkt{display: flex;
flex-direction: column;
justify-content: center;
    align-items: center;
    align-content: center;
}

.confirmationMsg{
    font-size: 13px; padding: 20px;
    margin: 20px;
    border: 1px solid black
}

.orderConfirmation{ 
    padding: 30px;
}

.confirmProduct{
    text-decoration: underline
}

.share{display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;}

.productShare{height: 200px}

.social{height: 50px;
margin: 10px;}

.cartImg{height: 100px;
padding: 2px;}

.cart{display: flex;
width: 75%;
justify-content: center;
align-items: center;
margin: 10px;
padding: 20px;
}
td, th{padding: 20px;
text-align: center;
align-content: center;
justify-content: center}

.shoppingCart{display: flex;
justify-content: center;
}

.quantity{text-align: center;
width: 50px;}

th{border-bottom: 1px solid;}

.item{display: flex;
align-items: center;
}

.purchaseBtn{margin-left: 880px;
    padding: 10px;}
